* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(135deg, aliceblue, rgb(170, 194, 255), rgb(79, 105, 255)),
    linear-gradient(270deg, aliceblue, rgb(170, 194, 255), rgb(79, 105, 255));
}

header {
    padding: 2rem;
    font-size: 3rem;
    color: rgba(0, 19, 161, 0.858);
    cursor: pointer;
    opacity: 0;
    transform: translateY(-3rem);
    transition: all 1s;
}

header.onload {
    opacity: 1;
    transform: translateX(0);
}

header:hover {
    color: rgb(72, 94, 255);
}

main {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    padding: 0 5rem;
}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 40%;
    border: 2px solid rgb(0, 68, 162);
    padding: 2rem;
    color: navy;
    border-radius: 2rem;
    opacity: 0;
    transform: translateX(-3rem);
    transition: all 1s;
}

.products-container.onload {
    opacity: 1;
    transform: translateX(0);
}

.products-container h1 {
    font-size: 3rem;
}

form {
    display: flex;
    gap: 1.6rem;
}

form input {
    background-color: rgb(0, 17, 147);
    color: aliceblue;
    padding: 0.5rem 1.6rem;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 2rem;
}

form input::placeholder {
    color: rgba(240, 248, 255, 0.6);
}

form input:focus {
    background-color: rgb(0, 17, 147);
    color: aliceblue;
}

form input::selection {
    background-color: rgb(76, 109, 255);
}

#add-product {
    width: 15%;
    border: none;
    outline: none;
    background-color: rgba(0, 17, 147, 0.7);
    color: rgba(240, 248, 255, 0.8);
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#add-product::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 100%;
    bottom: 100%;
    left: 100%;
    z-index: -1;
    border-radius: 2rem;
    background-color: rgba(0, 17, 147, 1);
    transition: all 0.5s;
}

#add-product:hover::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#adding-info {
    font-size: 1.6rem;
}

.dynamic-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 2rem;
}

.product-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.6rem;
    color: navy;
}

.product-info {
    font-size: 2rem;
    margin-right: 2rem;
    color: aliceblue;
}

.btns {
    display: flex;
    gap: 1rem;
}

.btns button {
    width: 2rem;
    border: none;
    outline: none;
    background-color: rgba(0, 17, 147, 0.7);
    color: rgba(240, 248, 255, 0.8);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.btns button::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 100%;
    bottom: 100%;
    left: 100%;
    z-index: -1;
    border-radius: 5px;
    background-color: rgba(0, 17, 147, 1);
    transition: all 0.5s;
}

.btns button:hover::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 30%;
    border: 2px solid rgb(0, 68, 162);
    padding: 2rem;
    color: navy;
    border-radius: 2rem;
    opacity: 0;
    transform: translateX(3rem);
    transition: all 1s;
}

.cart-container.onload {
    opacity: 1;
    transform: translateX(0);
}

.cart-container h1 {
    font-size: 3rem;
}

.dynamic-div-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 2rem;
    font-size: 1.6rem;
}

.amount-div {
    display: flex;
    gap: 1rem;
}

.cart-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    font-size: 1.6rem;
}

@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .products-container, .cart-container {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    header {
        font-size: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    form {
        flex-direction: column;
        align-items: center;
    }

    form input {
        width: 100%;
    }

    #add-product {
        width: 50%;
        height: 2rem;
    }

    .product-div, .cart-div {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        border: 2px solid rgb(0, 68, 162);
        padding: 1rem;
        border-radius: 1rem;
    }
}